object HelloWorldSpec
  extends DefaultRunnableSpec<spot>(
    suite("HelloWorldSpec")(
      testM("Says Hello world!") {
        for {
          _ <- sayHello
          output <- TestConsole.output
        } yield assert(output, equalTo(Vector("Hello, World!")))
      }
    )
  )</spot>
